body{
    width: 100%;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    background-color: lightgray
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 24px;
    background-color: lightgray
}

h1 {
    margin: 0 auto;
}

#heroimage{
    width: 180px;
    margin: 0 auto;

}

footer{
    background-color: #fff;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
}

#pleaseclick {
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
}

ul{
    padding: 0;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

li{
    text-align: center;
    list-style-type:none;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    background-color: lightgray
}

#computerhand {
    text-align: center;
    
}

#whathand {
    text-align: center;
    margin-bottom: 30px;
}

li:hover{
    background: #0066CC;
    color:#fff;
}

#judgement{
    text-align: center;
}